<div style="max-height: 80vh;" id="cy2">
    <h3>Topology: {{ currentTopology }}</h3>
    <br>
    <button class="btn btn-success mb-3" style="width: 80px; position: relative; z-index: 10;" (click)="replayMovie()">Replay</button>
    <br>
    <button class="btn btn-danger" style="width: 80px; position: relative; z-index: 10;" (click)="stopMovie()">Stop</button>
</div>