<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <h3>Topologies</h3>
            <ul class="list-group">
                <li *ngFor="let topology of topologies" class="list-group-item">Topology {{ topology.id }}</li>
            </ul>
        </div>
        <div class="col-9">

        </div>
    </div>
</div>
