<div id="cy"></div>
<button class="btn btn-success mb-3" style="width: 80px; position: relative; z-index: 10;" (click)="replayAnimation()">Replay</button>
<br>
<button class="btn btn-danger" style="width: 80px; position: relative; z-index: 10;" (click)="stopAnimation()">Stop</button>