<h5>Message details</h5>
<p>
    <b>Origin node:</b> {{  message.details.origin }}
    <br>
    <b>Protocol:</b> {{  message.details.protocol }}
    <br>
    <b>Number of hops:</b> {{  message.details.hops }}
    <br>
    <b>Timestamp</b> {{ message.details.timestamp | date: short }}
    <br>
</p>
