<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <ul class="list-group">
                <li *ngFor="let run of runs; let i = index" class="list-group-item" [ngClass]="{'active': activeRun == i}" (click)="getTopologies(run.id, i)">{{ run.name }}</li>
            </ul>
        </div>

        <div class="col-2">
            <ul class="list-group">
                <li *ngFor="let topology of topologies; let i = index" class="list-group-item" [ngClass]="{'active': activeTopology == i}" (click)="getMessages(topology.id, i)">Topology {{ topology.id }}</li>
            </ul>
        </div>

        <div class="col-2">
            <ul class="list-group">
                <li *ngFor="let message of messages; let i = index" class="list-group-item" [ngClass]="{'active': activeMessage == i}" (click)="getMessageDetails(message.id, i)">Message {{ message.id }}</li>
            </ul>
        </div>

        <div *ngIf="messages.length <= 0" class="col-6">
            <div style="height: 500px;">
                <app-network-movie [movie]="movie"></app-network-movie>
            </div>
        </div>

        <div *ngIf="message != null && messages.length > 0" class="col-6">
            
            <div style="height: 30vh;">
                <app-message-details [message]="message"></app-message-details>
            </div>

            <div style="height: 40vh;">
                <app-cytograph [messageData]="message"></app-cytograph>
            </div>
        </div>
    </div>
</div>
